html, body {
    height: 100%;
    background-color: black;
}

*{
    font-family: 'Ranga', cursive;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.santamariaworld.com/globalassets/foodservice/concept/inspired-by-streetfood/koncept-header-insp-streetfood.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    color: aliceblue;
    height: 20PX;
    justify-content: center;
    align-items: center;
}

h3 {
    color: aliceblue;
    height: 20px;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjt_5HTkOXeAhUCebwKHRdKAysQjRx6BAgBEAU&url=https%3A%2F%2Fwww.iconfinder.com%2Ficons%2F3498393%2Fcutlery_dish_with_fork_knife_plate_restaurant_spoon_icon&psig=AOvVaw2xtHbRBrvYQw7e9VcF0Lsk&ust=1542877384604914") ;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

input[type=text]:focus {
    width: 600PX;
}

/* button {
    font-size: 17px;
    float: right;
    height: 50px;
    width: 40px;
    border: none;
    background :#ddd;
    cursor: pointer;
    padding: 10PX;

}

.container {
    background: none;
    max-width: 900px;
    max-height: 300px;
    /* margin: 10px ; */
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.item {
    margin: 5px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    width: 80px;
    color: #ccc;
    border: 1px solid white;
    border-radius: 5px;
} */
