html{
    height: 100%;
}

body {
    height: 100%;;
    background-repeat: no-repeat;
    
}
#img {
    
}




.line{
    border-bottom: 1px solid #ebebeb;
}

.space {
    border-bottom: 1px solid black;

}