body, html {
    height: 100%;
    background-color:rgb(51, 49, 49);
    color: white;

}

.space {
    border-bottom: 2px solid #141414;
    font-size: 30px;
}

.img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.l1 {
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
    height: 1cm;
    font-size: 50px;
}
.ing1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    border-bottom: 1px solid rgb(94, 92, 92);
}
#ing_r{

}