body, html {
    background-image: url("https://images.pexels.com/photos/296884/pexels-photo-296884.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-size: 100%;
    background-repeat: repeat-y;
}

* {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.topnav {
    width: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
  }
.topnav a {
    float: left;
    display: block;
    color:  white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav .search-container {
    float: right;
}
  
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 5px;
}
  
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    font-size: 17px;
    border: none;
    cursor: pointer;
}
i{
    color: white;
}
.topnav .search-container button:hover {
    background: #ccc;
}

.title {
    width: 95%;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.img {
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.description{
    margin: 20px 20px 50px 20px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;     
}


.col-7 img{
    height: 80%;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px; 
}

.col-5{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    border: 1px solid  rgba(0,0,0, 0.4);;
    border-radius: 10px;
    height: 80%;
} 

.space {
    font-size: 30px;
}

.ingredients{
    display: flex;
    flex-flow: wrap;
}

.another {
    height: 80%;
    width: 100%;
    float: left; 
    margin: 1px;
    background-color: rgba(0,0,0, 0.4); 
    border: 1px solid  rgba(0,0,0, 0.4);;
    border-radius: 40px;
    padding: 10px 10px;
}
.img3{
    height: 80%;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px; 
}
    
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}   
