body, html {
    height: 100%;
    background-color:rgb(51, 49, 49);
    color: blanchedalmond;
    width: 100%;

}

.space {
    border-bottom: 2px solid #141414;
    font-size: 30px;
}

.img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.l1 {
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
    height: 1cm;
    font-size: 50px;
}
.ing1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    border-bottom: 1px solid rgb(94, 92, 92);
}
#ing_r{

}
.another {
    font-family: 'Archivo', sans-serif;
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border-bottom: 1px solid blanchedalmond;
}
.img3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10cm;
}
