<<<<<<< HEAD
body, html {
    background-image: url("https://static1.squarespace.com/static/54aed706e4b060149458bc7f/t/5970fad1cd0f68cb4b70c700/1500576468197/NU-Food-Background.jpg?format=2500w");
=======
body {
    background-image: url("https://images.pexels.com/photos/296884/pexels-photo-296884.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
>>>>>>> 7db33ac5107f281d916c51668ec9261a4627942a
    background-size: 100%;
    background-repeat: repeat-y;

}

*{
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.topnav {
    width: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
  }
.topnav a {
    float: left;
    display: block;
    color:  white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav .search-container {
    float: right;
}
  
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 5px;
}
  
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    font-size: 17px;
    border: none;
    cursor: pointer;
}
i{
    color: white;
}
.topnav .search-container button:hover {
    background: #ccc;
}


.title {
    width: 95%;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

H1 {
    color: white;
}

#name {
    height: 30px;
    float: left;
    font-weight: bold;
    color: #f1f1f1;
}

.item {
    margin: 20px 20px 50px 20px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #f1f1f1;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
}

h3{
    color: #f1f1f1;
}

img {   
    height: 300px;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
}

.col-7 {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    height: 300px;
    width: 800px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
}


.Ingredients {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    
}
