body {
    background-image: url("https://static1.squarespace.com/static/54aed706e4b060149458bc7f/t/5970fad1cd0f68cb4b70c700/1500576468197/NU-Food-Background.jpg?format=2500w");
    background-size: 100%;
    background-repeat: repeat-y;
}

*{
    font-family: 'Patrick Hand', cursive;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 95%;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

H1 {
    color: white;
}

.item {
    margin: 20px;
    height: 300px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}

.name {
    width: 20%;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #f1f1f1;
}

h3{
    color: #f1f1f1;
}

img {
    height: 300px;

}

.content {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 800px;
    margin-left: 10px;
}