html, body {
    height:100%
}
* {
    font-size: 1.1rem;
}
#root {
    width: 30%;
    justify-content: flex-start;
}
.result {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}