<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/recipe.css">
    <title>Recipie</title>
    
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
</head>

<body>

    <div id=img>
        <img class ="img2" src= {{recipe_details.recipe_image}}>
        <p class="l1">
            {{recipe_details.recipe_name}}
        </p>
    </div>    
    <div>
        <h3 class="space"><i>Nguyên Liệu </i></h3>
        <ol>
            <h3 id="ing_r">
                {% for ing in recipe_details.ingredients %}
                    <li><p class="ing1">{{ ing["amount"] }} {{ ing["unit"]}} {{ ing["name"]}}</p></li>
                {% endfor %}
            </h3>
        </ol>
    </div>
    <div>
        <h3 class="space"><i> Công Thức </i></h3>
        <div>
        {% for item in recipe_details.steps %}
            
                <img class="img3" src = {{ item["image"] }}  >
                <h4 class="another">{{item["text"]}}</h4>    
        </div>
        {% endfor %}
        
            
    </div>
</body>
</html>