<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipie</title>
    <link rel="stylesheet" href="../static/index.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
</head>

<body>

    <div id=img>
        <img class ="img2" src= {{recipe_details.recipe_image}}>
        <p class="l1">
            {{recipe_details.recipe_name}}
        </p>
    </div>    
    <div id = "root">
        <h3 class="space"><i>Nguyên Liệu </i></h3>
        <h3 style="border: 1px solid rgb(42, 161, 152)">
            {% for ing in recipe_details.ingredients %}
                <p>{{ ing["amount"] }} {{ ing["unit"]}} {{ ing["name"]}}</p>
                
            {% endfor %}
        </h3>
    </div>
    <div>
        <h3 class="space"><i> Công Thức </i></h3>
        {% for item in recipe_details.steps %}
            <img src = {{ item["image"] }} width="300cm" >
            <h4 class="line">{{item["text"]}}</h4>
            
        {% endfor %}
            
    </div>
</body>
</html>